@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}


li:has(.check-mark) {
  align-items: baseline;
}

li .check-mark {
  top: 2px;
  position: relative;
}

img.profile {
  min-width: 5vw;
  min-height: 4vh;
  max-width: 30vw;
  max-height: 40vh;
  position: relative;
  float: left;
  margin-top: 20px;
  @apply ring-1 p-1 rounded-full;
  --tw-ring-color: #FF1493;
}
@media (min-width:900px) {
  img.profile {
    max-width: 40vw;
    min-width: 10vw;
    min-height: 8vh;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #FF1493;
  transform-origin: 0%;
  width: 100%;
  z-index: 999999999999999;
}

.social-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  @apply p-0;
}

img.profile:hover {
  @apply ring-2;
}

img.social {
  width: 40px;
  height: 40px;
  @media (max-width:1200px) {
    width: 28px;
    height: 28px;
  }
  //float: left;
}


@media (max-width:900px) {
  h1, .h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.05rem;
  }
  h2.specialh2 {
    font-size: 1.45rem;
    @apply text-h2-sm md:text-h2;
  }
  .section .container {
    margin: 0 auto !important;
  }

  .raspberry-color {
    color: #FF1493;
  }

  h5 {
    font-size: 0.75rem;
  }
  .feature-card {
    max-height: 1700px !important;
  }
  .section {
    padding-top: 25px !important;
  }
  h2.thisCourse {
    font-size: 1.25rem;
  }

  .main-page .section:first-child {
    padding-top: 60px !important;
  }
  span.spanPlanType:before {
    content: "\a";
    white-space: pre;
  }
}

