@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}


li:has(.check-mark) {
  align-items: baseline;
}

li .check-mark {
  top: 2px;
  position: relative;
}

img.profile {
  min-width: 10vw;
  min-height: 8vh;
  max-width: 40vw;
  max-height: 40vh;
  float: left;
  @apply ring-2 p-1 rounded-full;
  --tw-ring-color: #FF1493;
}
/*
0%  { -webkit-transform: rotate(0deg) translateX(5px) translateY(120px) rotate(0deg) scale(1); }
25%  { -webkit-transform: rotate(90deg) translateX(5px) translateY(120px) rotate(-90deg) scale(.75); }
50%  { -webkit-transform: rotate(180deg) translateX(5px) translateY(120px) rotate(-180deg) scale(.60); }
75%  { -webkit-transform: rotate(270deg) translateX(5px) translateY(120px) rotate(-270deg) scale(.75); }
100%  { -webkit-transform: rotate(360deg) translateX(5px) translateY(120px) rotate(-360deg) scale(1); }
*/
.social-list {
  position: absolute;
  max-width: 20vw;
  left: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  @apply p-0;
  @media (max-width:900px) {

  }
  @media (min-width:1200px) {
    left: 3vw;
  }
}

.social-list .first {
  transform: rotate(0deg) translateX(1vw) translateY(-3vh) rotate(0deg) scale(1);
}

.social-list .second {
  transform: rotate(0deg) translateX(2vw) translateY(0vh) rotate(0deg) scale(1);
  @media (max-width:900px) {
    transform: rotate(0deg) translateX(6vw) translateY(0vh) rotate(0deg) scale(1);
  }
}

.social-list .third {
  transform: rotate(0deg) translateX(4vw) translateY(0vh) rotate(0deg) scale(1);
  @media (max-width:900px) {
    transform: rotate(0deg) translateX(14vw) translateY(0vh) rotate(0deg) scale(1);
  }
}

.social-list .last {
  transform:  rotate(0deg) translateX(6vw) translateY(-3vh) rotate(0deg) scale(1);
  @media (max-width:900px) {
    transform:  rotate(0deg) translateX(19vw) translateY(-3vh) rotate(0deg) scale(1);
  }
}


img.profile:hover {
  @apply ring-4;
}

img.social {
  width: 40px;
  height: 40px;
  @media (max-width:1200px) {
    width: 28px;
    height: 28px;
  }
  //float: left;
}


@media (max-width:900px) {
  h1, .h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.05rem;
  }
  h2.specialh2 {
    font-size: 1.45rem;
    @apply text-h2-sm md:text-h2;
  }
  .section .container {
    margin: 0 auto !important;
  }

  .raspberry-color {
    color: #FF1493;
  }

  h5 {
    font-size: 0.75rem;
  }
  .feature-card {
    max-height: 1700px !important;
  }
  .section {
    padding-top: 25px !important;
  }
  h2.thisCourse {
    font-size: 1.25rem;
  }

  .main-page .section:first-child {
    padding-top: 60px !important;
  }
  span.spanPlanType:before {
    content: "\a";
    white-space: pre;
  }
}

