@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "base";
}


@layer components {
  @import "components";
  @import "navigation";
  @import "buttons";
}

@layer utilities {
  @import "utilities";
}


li:has(.check-mark) {
  align-items: baseline;
}

li .check-mark {
  top: 2px;
  position: relative;

  color: #fffdfd;
}
